:root {
  --max-width--default: 1200px;
  --max-width--blocks: 720px;
  --radius-default: 16px;
  --radius-small: 8px;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

#loading {
  position: absolute;
  top: 20%;
  right: 10px;
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid #ffffff85;
  border-top: 6px solid #5361df80;
  border-radius: 100%;
  margin: auto;
  display: none;
  visibility: hidden;
  animation: spin 1s infinite linear;
}

#loading.display {
  display: block;
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.glassmorph {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.25);
  border-radius: var(--radius-default);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  font-size: 1.25rem;
  padding: 1rem;
  min-height: 100dvh;
  background-color: black;
  background-image: url(assets/media/abstract_bg_large.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section {
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.container {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  max-width: var(--max-width--default);
  margin-inline: auto;
}

#search-section {
  margin-top: 2%;
}

#result-section {
  margin-top: 2%;
}

.search-container {
  padding: 1rem;
  max-width: var(--max-width--blocks);
  text-align: center;
}

#search-form {
  display: flex;
  flex-direction: column;
}

#search-form__city {
  padding: 8px;
  border-radius: var(--radius-small);
  background: rgb(255 255 255 / 50%);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

#search-form__city::placeholder {
  font-size: 1.25rem;
}

#search-form__submit {
  cursor: pointer;
  padding: 8px;
  border: 1px solid black;
  background-color: transparent;
  font-size: 1.25rem;
  border-radius: var(--radius-small);
  text-transform: uppercase;
  display: block;
  position: relative;
}

.result-container {
  padding: 0;
  max-width: var(--max-width--blocks);
  text-align: center;
}

.city-info-wrapper {
  display: flex;
}

.city-info-wrapper__left-col {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  width: 35%;
  gap: 0.5em;
  position: relative;
  padding: 1rem;
}

.city-info-wrapper__right-col {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 0.5em;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .city-info-wrapper {
    flex-direction: column;
  }
  .city-info-wrapper__left-col,
  .city-info-wrapper__right-col {
    width: 100%;
  }
  .city-info-wrapper__left-col {
    border-right: 0;
    border-bottom: 4px solid rgba(0, 0, 0, 0.6);
    border-bottom-left-radius: var(--radius-default);
    border-bottom-right-radius: var(--radius-default);
  }
  .overlay-bg {
    border-top-right-radius: var(--radius-default);
    border-bottom-right-radius: var(--radius-default);
  }
}

.overlay-bg {
  z-index: -1;
  border-top-left-radius: var(--radius-default);
  border-bottom-left-radius: var(--radius-default);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  /* opacity: 0.5; */
}

.current-msg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-temp {
  font-size: 4rem;
  font-weight: 700;
}

.current-temp::after {
  content: "\2103";
}

#current-temp-table {
  width: 100%;
}

#forecast-table {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  width: 100%;
}

#forecast-table td:first-child {
  text-align: left;
}

table {
  border-collapse: collapse;
}

table td {
  padding: 12px 0;
  border-bottom: 1px solid black;
}

table tr:last-child td {
  border-bottom: none;
}

table th {
  padding: 12px 0px;
}
